<div fxLayout="column">
	<div class="game-header" fxFlex="100">
		<h1>Star quiz</h1>
		<app-timer
			(Finish)="onFinishTimer($event)"
			(Start)="onStartTimer($event)"
			[timer]='120000'>
		</app-timer>
	</div>

	<!-- <div fxFlex="80%" class="list-container">
		<div *ngIf="isLoading" class="bg-shadow">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<mat-grid-list cols="5" class="list-peopble">
			<mat-grid-tile *ngFor="let SwPeople of SwPeoples">
				<app-card-people
					[people]="SwPeople"
					(clickDetail)="onClickDetail($event)"
					(clickAnswer)="onClickAnswer($event)">
				</app-card-people>
			</mat-grid-tile>
		</mat-grid-list>

		<mat-paginator
			[length]="countPeoples"
			pageSize="10"
			(page)="onChangePage($event)">
		</mat-paginator>
	</div> -->

	<div fxFlex="80" class="list-container" fxLayout fxLayoutAlign="center">
		<div class="list-peopble" fxLayout="column" fxFlex fxLayoutGap="20px" fxLayoutAlign="space-around" fxLayoutWrap="wrap">

			<div *ngIf="isLoading" class="bg-shadow">
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			</div>

			<div fxLayout>
				<app-card-people
					fxFlexFill="5" fxFlex="15" fxFlex.md="30" fxFlex.sm="33" fxFlex.xs="100%"
					*ngFor="let SwPeople of SwPeoples"

					[people]="SwPeople"
					(clickDetail)="onClickDetail($event)"
					(clickAnswer)="onClickAnswer($event)">
				</app-card-people>
			</div>

			<mat-paginator [length]="countPeoples" pageSize="10" (page)="onChangePage($event)"></mat-paginator>
		</div>
	</div>
</div>
