<div class="game-container" fxLayout="column" fxLayoutAlign="start center">
	<div class="game-header">
		<div class="title-container">
			<img class="sw-logo" src='/assets/logo.png' />
			<span>Star quiz</span>
		</div>
		<app-timer #timer
			[autoStart]="false"
			(Finish)="onFinishTimer($event)"
			(Start)="onStartTimer($event)"
			[timer]='1200000'>
		</app-timer>
	</div>

	<!-- <div fxFlex="80%" class="list-container">
		<div *ngIf="isLoading" class="bg-shadow">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<mat-grid-list cols="5" class="list-peopble">
			<mat-grid-tile *ngFor="let SwPeople of SwPeoples">
				<app-card-people
					[people]="SwPeople"
					(clickDetail)="onClickDetail($event)"
					(clickAnswer)="onClickAnswer($event)">
				</app-card-people>
			</mat-grid-tile>
		</mat-grid-list>

		<mat-paginator
			[length]="countPeoples"
			pageSize="10"
			(page)="onChangePage($event)">
		</mat-paginator>
	</div> -->

	<div class="list-container">
		<div class="list-peopble" fxLayout="column" fxLayoutAlign="center center">

			<div *ngIf="isLoading" class="bg-shadow">
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			</div>

			<div class="cards-container" fxLayout="row wrap" >
				<app-card-people
					*ngFor="let SwPeople of SwPeoples"

					fxFlex.xs="150px" fxFlex.sm="150px" fxFlex.md="150px" fxFlex.lg="150px"
					class="card-people"

					[status]="getStatusCard(SwPeople)"
					[people]="SwPeople"
					(clickDetail)="onClickDetail($event)"
					(clickAnswer)="onClickAnswer($event)">
				</app-card-people>
			</div>

		</div>
	</div>

	<mat-paginator [length]="countPeoples" pageSize="10" (page)="onChangePage($event)"></mat-paginator>
</div>
