<div>

	<div>
		<!-- <img class="sw-logo" src='/assets/star_wars_logo.png' /> -->

		<h1 class="sw-quiz__title">Star Wars Quiz</h1>
		<div class="sw-quiz__description">
			<p>Lorem ipsum dolor sit amet, mei et dolor neglegentur, pri idque eruditi gubergren et. Eu utinam ullamcorper mel. Graeco lobortis expetendis in est, eu dicam iisque eum. Propriae patrioque deterruisset sed no.</p>
			<p>Nibh meis et vix. Erant utinam liberavisse mel id. Ius at possim menandri efficiendi. Ei omnium forensibus per, cu summo solet vis, vel mucius bonorum consequuntur ad. Aliquid verterem mei an, liber persecuti scripserit ut mea. Enim expetendis eam ex, sed an ludus copiosae pericula.</p>
		</div>

		<button mat-button (click)="goToGame()" >Jogar</button>
	</div>
</div>
